header {
    display: flex;
    height: 80px;
    
    align-items: center;
    border-bottom: 1px solid #a9adac;
  }
  
  header h1 {
    margin-left: 30%;
    font-size: 1.5rem;
    color: #9e414b;
  }