.my-button {
  display: flex;
  justify-content: center;
}
.my-button button {
  padding: 10px 21px;
  background: #9e414b;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-out;
  outline: 0;
  border: 0;
}

.my-button button:hover {
  color: white;
}
